@font-face {
    font-family: Bebas Kai;
    src: url(dharmatype-Bebas-Kai-4c916c1/fonts/ttf);
}

body {
    font-family: Bebas Kai !important;
    background-color: #EEEEEE;
}

.fa-behance {
    color: #747474;
    stroke: none;
    font-size: 30px;
    padding: 30px 20px;
    transition-duration: 0.4s;
}

.fa-behance:hover {
    color: black;
}

.fa-linkedin-in {
    color: #747474;
    stroke: none;
    padding: 20px 20px;
    font-size: 30px;
    transition-duration: 0.4s;
}

.fa-linkedin-in:hover {
    color: black;
}

.fa-instagram {
    color: #747474;
    stroke: none;
    padding: 30px 20px;
    font-size: 30px;
    margin: 3% 0;
    transition-duration: 0.4s;
}

.fa-instagram:hover {
    color: black;
}

.fa-telegram-plane {
    color: #747474;
    stroke: none;
    padding: 20px 20px;
    font-size: 30px;
    transition-duration: 0.4s;
}

.fa-telegram-plane:hover {
    color: black;
}