.top .social {
    text-align: right;
    padding-right: 5%;
    padding-top: 1%;
}

.content {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

p {
    line-height: 20%;
}

.parent-container-text {
    display: none;
    position: absolute;
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.parent-container {
    position: relative;
    height: 544px;
    width: 725px;
    padding-right: 10px;
}

.parent-container:hover {
    -webkit-box-shadow: inset 10px 10px 725px 70px rgba(0, 0, 0, 0.897);
    -moz-box-shadow: inset 10px 10px 725px 70px rgba(0, 0, 0, 0.897);
    box-shadow: inset 10px 10px 725px 70px rgba(0, 0, 0, 0.897);
}

.parent-container:hover .parent-container-text {
    display: block;
}

/* preview images gallery */
.content .vvozim {
    background: url(../../media/mockupvvozim1.png) no-repeat;
}

.content .flower-shop {
    background: url(../../media/flowers.png) no-repeat;
}

.content .severdom {
    background: url(../../media/sevdom.png) no-repeat;
}

.content .instpost {
    background: url(../../media/igp.png) no-repeat;
}

.content .mkbrest {
    background: url(../../media/MK.png) no-repeat;
}

.content .clean {
    background: url(../../media/sm.png) no-repeat;
}

.content .mama {
    background: url(../../media/mama.png) no-repeat;
}

.content .stonehouse {
    background: url(../../media/первый.png) no-repeat;
}

.content .sc {
    background: url(../../media/sc.png) no-repeat;
}

.content .calz {
    background: url(../../media/calz.png) no-repeat;
}

/* end of previews */

.footer .social a>i {
    text-align: center;
    padding-left: 2%;
    margin-right: 1%;
    color: #747474;
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 1%;
    transition-duration: 0.4s;
}

.footer .social a>i:hover {
    color: black;
}

.footer h2 {
    font-size: 30px;
    text-align: center;
    padding-left: 4%;
    color: #747474;
}

.footer .social {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .footer .social {
        text-align: center;
    }
}